html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  scroll-behavior: smooth; }
  @media (max-width: 550px) {
    html {
      font-size: 10px; } }

body {
  background-color: #444;
  letter-spacing: 1.6px;
  line-height: 1.6; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.section-heading {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700; }
  @media (max-width: 550px) {
    .section-heading {
      margin-bottom: 1rem;
      font-weight: normal; } }

.btn, .btn--dark {
  padding: 1rem 1.5rem;
  border: 0;
  color: #fff;
  transition: all .4s; }
  .btn:hover, .btn--dark:hover {
    background: #eece1a;
    color: #fff; }

.btn--dark {
  background: black;
  font-size: 1.2rem; }
  @media (max-width: 550px) {
    .btn--dark {
      padding: .8rem .8rem;
      text-align: center; } }
  .btn--dark:hover {
    color: #000; }

.btn-scroll-top {
  padding: 1.3rem 1.5rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 2rem;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 99;
  cursor: pointer;
  display: none; }
  .btn-scroll-top:focus, .btn-scroll-top:active {
    outline: none; }

.accordion__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;
  background: #444;
  width: 100%;
  border: 1px solid #fff;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer; }
  .accordion__button:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f067"; }
  .accordion__button.active:after {
    content: "\f068";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }
  .accordion__button:focus, .accordion__button:active {
    outline: none; }

.accordion {
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 550px) {
    .accordion {
      flex-direction: column; } }
  .accordion__item {
    flex-basis: 31%;
    margin: 1rem 1rem; }
    @media (max-width: 1200px) {
      .accordion__item {
        margin: .8rem 0;
        flex-basis: 49%; } }
    @media (max-width: 680px) {
      .accordion__item {
        margin: .8rem 0;
        flex-basis: 100%; } }
  .accordion__content {
    color: #444;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out; }
    .accordion__content p {
      padding: 1rem 1rem; }

.navbar {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3rem 3rem; }
  @media (max-width: 768px) {
    .navbar {
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;
      padding: 1.5rem; } }
  .navbar__item {
    margin: 0 1rem;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 1.5rem; }
    .navbar__item a {
      color: #fff; }
      @media (min-width: 1200px) {
        .navbar__item a {
          color: #fff;
          transition: color .4s;
          transition: all 0.4s; }
          .navbar__item a:hover {
            color: #eece1a; } }
      @media (min-width: 1200px) {
        .navbar__item a:hover {
          border: 1px solid #fff;
          padding: 1rem 3rem; } }

.hero {
  height: 100vh;
  background-image: url("/img/output/hero-img.jpg");
  background-size: cover; }
  .hero__overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: rgba(68, 68, 68, 0.4); }

.typewriter-container {
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  height: calc(100% - 125px); }
  @media (max-width: 768px) {
    .typewriter-container {
      height: calc(100% - 190px);
      padding-left: 2rem; } }
  .typewriter-container h1 {
    font-size: 4rem;
    margin-bottom: 2rem; }
    @media (max-width: 550px) {
      .typewriter-container h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem; } }
  .typewriter-container h2 {
    font-size: 2rem; }
    @media (max-width: 550px) {
      .typewriter-container h2 {
        font-size: 1.8rem; } }
  .typewriter-container .txt-type .txt {
    border-right: 0.2rem solid #777; }

#about {
  padding: 5rem 4rem;
  background: rgba(238, 206, 26, 0.8);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  @media (max-width: 1024px) {
    #about {
      align-items: center;
      clip-path: initial;
      padding: 2.5rem 2rem; } }
  @media (max-width: 768px) {
    #about {
      padding: 2rem 1.5rem;
      flex-direction: column;
      align-items: center; } }
  #about .about__img-holder {
    flex-basis: 30%;
    text-align: center; }
    @media (max-width: 768px) {
      #about .about__img-holder {
        flex-basis: 100%; } }
    #about .about__img-holder img {
      height: 12.5rem;
      width: 12.5rem;
      object-fit: cover;
      border-radius: 50%;
      border: 0.2rem solid #fff; }
  #about .about__text {
    flex-basis: 70%;
    font-size: 1.2rem;
    padding: 1rem;
    letter-spacing: 1.6px;
    line-height: 1.6;
    margin-right: 1.5rem; }
    @media (max-width: 768px) {
      #about .about__text {
        padding: 0;
        margin: 0;
        flex-basis: 100%; } }

#my-work {
  padding: 5rem 4rem; }
  @media (max-width: 1024px) {
    #my-work {
      padding: 2.5rem 2rem; } }
  @media (max-width: 768px) {
    #my-work {
      padding: 2rem 1.5rem; } }
  #my-work .projects {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 1200px) {
      #my-work .projects {
        flex-wrap: wrap; } }
    #my-work .projects__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 1.2rem;
      flex-basis: 25%; }
      @media (max-width: 1200px) {
        #my-work .projects__item {
          flex-basis: 48%;
          margin: .8rem 0; } }
      @media (max-width: 768px) {
        #my-work .projects__item {
          flex-basis: 100%;
          margin: .8rem 0; } }
      #my-work .projects__item:last-of-type {
        margin-right: 0; }
      #my-work .projects__item img {
        display: block;
        width: 100%;
        border: 3px solid #fff;
        transition: all .4s;
        max-height: 250px; }
        #my-work .projects__item img:hover {
          opacity: .5;
          border-color: #eece1a; }
      #my-work .projects__item .fab {
        margin-right: .3rem; }

#skills {
  padding: 5rem 4rem;
  background: rgba(238, 206, 26, 0.8);
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%); }
  @media (max-width: 1024px) {
    #skills {
      clip-path: initial;
      padding: 2.5rem 2rem; } }
  @media (max-width: 768px) {
    #skills {
      padding: 2rem 1.5rem;
      clip-path: initial; } }

#contact {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media (max-width: 1024px) {
    #contact {
      padding: 2.5rem 2rem; } }
  #contact .contact__methods li {
    font-size: 1.5rem; }
    #contact .contact__methods li:not(:last-of-type) {
      margin-bottom: .8rem; }
    #contact .contact__methods li .fas,
    #contact .contact__methods li .fas {
      margin-right: 1.2rem; }
  #contact .contact__icons .fab,
  #contact .contact__icons .far {
    color: #fff;
    transition: color .4s;
    font-size: 2rem;
    margin-right: 1.2rem; }
    #contact .contact__icons .fab:hover,
    #contact .contact__icons .far:hover {
      color: #eece1a; }
  #contact .contact__download {
    margin: 1rem 0;
    text-align: left; }
    #contact .contact__download a {
      color: #fff;
      transition: color .4s;
      font-size: 1.5rem; }
      #contact .contact__download a:hover {
        color: #eece1a; }
      #contact .contact__download a .far {
        font-size: 2rem;
        margin-left: 1.2rem; }
