#about {
  @include section-padding;
  @include section-clip-primary;
  @include flex-center;

  @include breakpoint(_1024) {
    align-items: center;
    clip-path: initial;
    @include section-padding-md;
  }

  @include breakpoint(_768) {
    @include section-padding-md;
    flex-direction: column;
    align-items: center;
  }

  .about__img-holder {
    flex-basis: 30%;
    text-align: center;

    @include breakpoint(_768) {
      flex-basis: 100%;
      margin-bottom: 1.5rem;
    }

    img {
      height: 20rem;
      width: 15rem;
      object-fit: cover;
      border: 2px solid $primary-color;
    }
  }

  .about__text {
    flex-basis: 70%;
    @include section-text;

    @include breakpoint(_768) {
      padding: 0;
      margin: 0;
      flex-basis: 100%;
    }
  }
}