#my-work {
  @include section-padding-md;

  @include breakpoint(_768) {
    @include section-padding-md;
  }

  .projects {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(_1200) {
      flex-wrap: wrap;
    }


    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 1.6rem;
      flex-basis: 25%;

      @include breakpoint(_1200) {
        flex-basis: 48%;
        margin: .8rem 0;
      }

      @include breakpoint(_550) {
        flex-basis: 100%;
        margin: 1rem 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      img {
        display: block;
        width: 100%;
        border: 2px solid $primary-color;
        transition: all .4s;
        max-height: 250px;
        opacity: .8;
        z-index: 10;

        &:hover {
          @include breakpoint(min_1200) {
            opacity: 1;
            border-color: $secondary-color;
            transform: scale(1.1);
            z-index: 100;
          }
        }
      }

      .fab {
        margin-right: .3rem;
      }
    }
  }
}