.accordion {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint(_550) {
    flex-direction: column;
  }

  &__item {
    flex-basis: 30%;
    margin: 1rem 1rem;

    @include breakpoint(_1200) {
      margin: .8rem 0;
      flex-basis: 49%;
    }

    @include breakpoint(_680) {
      margin: .8rem 0;
      flex-basis: 100%;
    }
  }

  &__content {
    color: $background-color;
    background-color: $primary-color;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;


    p {
      padding: 1rem 1rem;
    }
  }

}