.accordion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include breakpoint(_550) {
    flex-direction: column;
  }

  &__item {
    flex-basis: 30%;
    margin: 1rem 1rem;

    @include breakpoint(_1200) {
      margin: 1rem .6rem;
      flex-basis: 47%;
    }

    @include breakpoint(_680) {
      margin: .8rem 0;
      flex-basis: 100%;
    }
  }

  &__content {
    color: $background-color;
    background-color: $primary-color;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;


    p {
      padding: 1rem 1rem;
    }
  }
}

.accordion__content {
  height: 0;
}

.accordion__content.show {
  height: 200px;
}