*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 12px;
  font-family: $primary-font;
  color: $primary-color;
  scroll-behavior: smooth;

  @include breakpoint(_550) {
    font-size: 10px;
  }
}

body {
  background-color: $background-color;
  letter-spacing: 1.6px;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-heading {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;

  @include breakpoint(_550) {
    margin-bottom: 1rem;
    text-align: left;
  }
}